body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}

.display-image {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

/* hander */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  margin-right: 76px;
}

.logo-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.info {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  width: 261px;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.infostudio {
  padding: 24px 0px;
  display: block;
  color: #2e2f42;
}

.infostudio:hover,
.infostudio:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: underline;
  color: #404bbf;
}

.address {
  font-style: normal;
}

.addr-contacts {
  display: flex;
  width: 344px;
  gap: 40px;
  list-style-type: none;
  padding: 0px;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contacts:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}
.contacts:focus {
  color: #404bbf;
}
/* mail */
/* section1 */
.main-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
}

.main-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
}

.main-button:hover {
  background-color: #404bbf;
}

.main-button:focus {
  background-color: #404bbf;
}
/* section2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-info {
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.advantage {
  flex-basis: calc((100% - 72px) / 4);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
/* section3 */

.section-team {
  background-color: #f4f4fd;
}

.sect-third {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0px 0px 72px 0px;
  text-transform: capitalize;
  text-align: center;
}

.heros {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  flex-basis: calc((100% - 72px) / 4);
}

.container-hero {
  padding: 32px 0 32px;
}

.name-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position-hero {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section4 */
.sect-portfolio {
  background-color: #ffffff;
}

.sect-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.div-portfolio {
  width: calc((100% - 48px) / 3);
}

.block {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

  gap: 24px;
  row-gap: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

.block-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.block-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.span-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.section {
  padding: 120px 0;
}
